extends layout

block content 
    #container.container
        header 
            .row
                .col-md-4
                    img(src="/images/dessin.png")#dessin
                .col-md-8
                    h1 Kevin Vasseure
                    //img(src="/images/french.png")#flag
                    #infos
                        h2
                            |#{resume.title}
        section#content
            each vali in resume.skillset
                section(id = vali.title)
                    .section-title
                        img(src = vali.image).content-icon
                        h2 #{vali.title}
                    .yellow-block
                        each valj, i in vali.items
                            if i === vali.items.length - 1
                                .resume-item.last
                                    h3 #{valj.title}
                                    |#{valj.content}
                            else
                                .resume-item
                                    h3 #{valj.title}
                                    |#{valj.content}
            section#pro-experiences
                .section-title
                    img(src = "/images/pro-experience.png").content-icon
                    h2 Professional Experiences
                each vali in resume.experiences
                    .yellow-block.bm10
                        .resume-item.last
                            h3 #{vali.itsc}
                    each valj in vali.missions
                        .yellow-block.bm10
                            .resume-item
                                h3 #{valj.client}
                            .resume-item
                                h3 Projects
                                |#{valj.projects}
                            .resume-item
                                h3 Description
                                |#{valj.description}
                            .resume-item.last
                                h3 Technical Environment
                                |#{valj.technical}
        //section#content
        //    section#skills
        //        .section-title
        //            img(src="/images/skills.png")#skills-icon.content-icon
        //            h2 SKILLS
        //        .resume-enum
        //            .resume-item
        //                h3 Technologies
        //                |JavaEE, Spring, Vaadin
        //            .resume-item.last
        //                h3 Divers
        //                |blablabla
        //    section#formation
        //        .section-title
        //            img(src="/images/formation.png")#formations-icon.content-icon
        //            h2 FORMATION
        //        .resume-enum
        //            .resume-item
        //                h3 Technologies
        //                | JavaEE, Spring, Vaadin
        //            .resume-item.last
        //                h3 Divers
        //                | blablabla
        //    section#languages
        //        .section-title
        //            img(src="/images/languages.png")#languages-icon.content-icon
        //            h2 LANGUAGES
        //        .resume-enum
        //            .resume-item
        //                h3 Technologies
        //                | JavaEE, Spring, Vaadin
        //            .resume-item.last
        //                h3 Divers
        //                | blablabla
        //    section#pro-experience
        //        .section-title
        //            img(src="/images/pro-experience.png")#pro-experience-icon.content-icon
        //            h2 PROFESSIONAL EXPERIENCES
        //        .resume-enum
        //            .resume-item
        //                h3 Technologies
        //                | JavaEE, Spring, Vaadin
        //            .resume-item.last
        //                h3 Divers
        //                | blablabla
