extends layout

block content 
    #container.container
        header 
            .row
                .col-md-4
                    img(src="/images/dessin.png")#dessin
                .col-md-8
                    h1 Kevin Vasseure
                    //img(src="/images/french.png")#flag
                    #infos
                        h2
                            |#{resume.title}
        section#content
            each vali in resume.skillset
                section(id = vali.title)
                    .section-title
                        img(src = vali.image).content-icon
                        h2 #{vali.title}
                    .yellow-block
                        each valj, i in vali.items
                            if i === vali.items.length - 1
                                .resume-item.last
                                    h3 #{valj.title}
                                    |#{valj.content}
                            else
                                .resume-item
                                    h3 #{valj.title}
                                    |#{valj.content}
            section#pro-experiences
                .section-title
                    img(src = "/images/pro-experience.png").content-icon
                    h2 Professional Experiences
                each vali in resume.experiences
                    .yellow-block.bm10.thick
                        .resume-item.last
                            h3
                                a(href = vali.url) #{vali.company}
                            span.open-close +
                        each valj in vali.missions
                            .yellow-block
                                if valj.client
                                    .resume-item
                                        h4 #{valj.client}
                                .resume-item
                                    h4 Projects
                                    |#{valj.projects}
                                .resume-item
                                    h4 Description
                                    |#{valj.description}
                                .resume-item.last
                                    h4 Technical Environment
                                    |#{valj.technical}